@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|VT323&display=swap');
/*Global Styles Start*/
body, html {
  background-color: black;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'VT323';
  color: green;
}
/*Global Styles End*/

/*Form Section Start*/

.form-section {
  
}

/*Form Section End*/

/*Results Section Starts*/

.results-section {
 width: 500px;
  height: 50px;
}

#results {
  height: 100px;
}

/*Results Section Ends
